body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-player {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  width: 75%;
  text-align: center;
}

.card-info {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  margin-top: 4rem;
  font-weight: 400;
}

.controls button {
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px;
  margin-top: 2rem;
}

.controls button:hover {
  background-color: #0056b3;
}

input[type="range"] {
  width: 100%;
}

.seek-controls button {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 2rem;
}

.seek-controls button:hover {
  background-color: #0056b3;
}
